<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="main.component.css">
</head>
<body>
<nav>
  <label class="logo"><a routerLink="../main">YourRests</a></label>
  <ul>
    <li><p>Здравствуйте, {{name}}</p></li>
    <li><a class="active" routerLink="main">Main</a></li>
    <li><a routerLink="../restaurants">Restaurants</a></li>
    <li><a routerLink="../favourites">Reviews</a></li>
    <a id="ex" href="#">Exit</a>
  </ul>
</nav>

<section class="banner" id="banner">
  <div class="content">
    <h2>Ресторанный бизнес<span> в целом</span></h2>
    <p> Мы настолько привыкли к существующей сфере обслуживания,
      что уже не мыслим свою жизнь без кафе, ресторанов, кинотеатров
      и прочих развлекательных заведений. Теперь уже кажется, что они
      существуют очень давно. Но, как ни странно, ресторанный бизнес берет
      свое начало только в 18-м веке, и ему всего около 250 лет. Что послужило
      точкой отсчета для его развития? История ресторанов очень насыщена, несмотря
      на такой короткий срок.</p>
    <a (click)="toHis()" class="btn">Подробнее</a>
  </div>
</section>

<section class="history" id="history">
  <div class="info">
    <div class="story">
      <p>История создания ресторана начинается с 1765 года. Именно в это время было открыто первое заведение,
        ставшее прототипом ресторана. Инициатором этого был француз Буланже. Первый ресторан появился в Париже.
        Иначе и быть не могло. Жители этой страны всегда имели страсть ко всему изысканному. Но не сразу он
        стал пользоваться популярностью.
        История ресторанов только получила свое развитие, и этому заведению еще предстояло пройти трудный путь
        к совершенству. Целью создания было сделать что-то более изысканное, чем таверна. Каково же было меню ресторана?
        История свидетельствует, что список блюд был беден. В основном это была еда из различных видов мяса и птицы.
        В меню также входил наваристый бульон.<br><br></p>
      <p>Развитие ресторанного дела
        Со временем стали появляться новые подобные заведения. С каждым днем интерьер
        и меню ресторанов преображались. Здесь свою лепту внесла конкуренция. История ресторанов
        получила свое продолжение, и этот бизнес был поставлен на поток. Особое внимание стали
        уделять внешнему облику заведений. Их стали обставлять роскошной мебелью и украшать хрустальными
        люстрами. Меню ресторана тоже преобразилось. В нем появились сотни блюд, которые отвечали вкусам
        самых требовательных аристократов.<br><br>
        Постепенно рестораторы поняли всю выгоду таких заведений.
        В основном их создавали с ориентировкой на знатных особ, путешественников и приезжих.
        Но история ресторанов начала новую главу. Опыт французов переняли многие европейцы.
        В каждой стране заведения приобретали свой неповторимый колорит и предлагали кухню, традиционную для данной местности.

        Комфорт и уют стали неотъемлемой частью ресторана. Ассортимент блюд и возможность
        выбора сделали заведения очень популярными. Старейшие рестораны "Гранд-Таверн-де-Лондр"
        во Франции и "Собрино-де-Ботин" в Испании стали основателями этого бизнеса. История развития
        ресторанов содержит много интересных фактов.<br><br>

        В нашей стране все происходило немного по-другому. История ресторанов в России берет свое начало
        в 19-м веке. В это время в стране существовали харчевни, кабаки и трактиры. Уровень этих заведения
        оставлял желать лучшего. Это были простые питейные забегаловки, в которых можно было перекусить нехитрой едой
        в очень многоликом обществе. Несмотря на то что в Европе ресторанный бизнес уже достиг высокого уровня, в России
        это дело еще не получило своего развития.</p>
    </div>
    <div class="story">
      <div class="image">
        <img src="../../../../../assets/img/restaurantmain.jpg">
      </div>
    </div>
  </div>
</section>

</body>
<footer id="footer">
  <img class="social" src="../../../../assets/img/вк.png">
  <img class="social" src="../../../../assets/img/инст.png">
  <p><br>All rights reserved. 2022</p>
</footer>
</html>
